.card-contain{
    display: flex;
    justify-content: center;
    justify-self: center;

    background-color:rgba(246, 246, 246, 1);
    height: 829px;
    border-radius: 25px;
    margin : 30px 50px 30px 50px ;
    
   
    
    

   




}