

.carousel{

display: block;
margin: 50px;

 .carousel-img{
    display: flex;
    justify-content: center;
    align-items: center;
   
  
   
     img {
     
   
     border-radius: 25px;
     max-width: 1420px;
     height: 425px;
     width: 100%;
     object-fit: cover;



     }
     #arrow-slide{

      position: absolute;
      display: flex;
      justify-content: space-between;
      
     
     }
         
}

 .infos{

    display: flex;
    justify-content: space-between;
    h1{

        color: rgba(255, 96, 96, 1);
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 500;
        line-height: 51.34px;
        margin: 0;  
    }
    
    h2,h3{
    
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 25.67px;
        margin-top: 0;
        
    }
    h3{
        color: rgba(255, 96, 96, 1);
        margin-bottom: 0;
    }


}
 .info-host{
 display: flex;
 align-items: center;
 gap: 20px;
 img{
  border-radius:50px ;
  width: 64px;
  height: 64px;
 }


}


 .tags-stars {
    display: flex;
    justify-content: space-between;

    .tags{
        display: flex;
        gap: 10px;
    }    
    .stars{

        display: flex;
        gap: 5px; 
    }


    .tag{
        background-color: rgba(255, 96, 96, 1);
        border-radius: 10px;
        gap: 20px;
        display: flex;
        width:115px;
        height: auto;
        justify-content: center;
        padding: 2px;
        
    
        p{
         color:white;
         font-family: Montserrat;
         font-size: 14px;
         font-weight: 700;
         line-height: 19.96px;
         margin: 0 ;
    
        }
    }

}


.desc{

    width: 582px;
    height: 52px;
    padding: 10px 20px 10px 10px;
    border-radius: 10px ;
    background-color:  rgba(255, 96, 96, 1);
    margin-top: 20px;
}
}



