.footer-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 209px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 1);
   

    p {
        font-family: Montserrat;
        color: white;
        font-size: 24px;
    }
}



@media (max-width : 768px){

    .footer-contain{

        p {
            font-size: 12px;
           
            

            span {
             display: flex;
             flex-wrap: wrap;

            }
        }
    }
}